.survey-list {
  list-style: none;
  padding: 0;
}

.survey-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0.75rem 1rem;
  margin-bottom: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.survey-link {
  font-weight: bold;
  text-decoration: none;
  color: #007bff;
}

.survey-link:hover {
  text-decoration: underline;
}

.delete-btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #afafaf;
}

